﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="panel panel-primary">
    <div class="table table-striped">
        @foreach (string key in Model.Keys) {
        <tr>
            <th>@key</th>
            <th>@Model[key]</th>
        </tr>
        }
    </div>
</div>

@Html.ActionLink("Sign Out", "Logout", "Account", null, new { @class = "btn btn-primary" })

